<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align: center; margin: 0 auto">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil
          [appareilName]="appareilOne"
          [appareilStatus]="'allumé'"
        ></app-appareil>
        <app-appareil
          [appareilName]="appareilTwo"
          [appareilStatus]="'éteins'"
        ></app-appareil>
        <app-appareil
          [appareilName]="appareilThree"
          [appareilStatus]="'allumé'"
        ></app-appareil>
        <button
          class="btn btn-success"
          [disabled]="!isAuth"
          (click)="onAllumer()"
        >
          Tout allumer
        </button>
      </ul>
    </div>
  </div>
</div>
